---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../Components/Header/index.astro";
import WithPage from "../../../Components/Projects/MainInformation/WithPage/index.astro";
import SecondInformation from "../../../Components/Projects/SecondInformation/index.astro";
import ImgDiv from "../../../Components/Projects/ImgDiv/index.astro";
import Html from "../../../Components/Projects/Technologies/Html/index.astro";
import Css from "../../../Components/Projects/Technologies/Css/index.astro";
import Javascript from "../../../Components/Projects/Technologies/Javascript/index.astro";
import AstroFrame from "../../../Components/Projects/Technologies/AstroFrame/index.astro";
import React from "../../../Components/Projects/Technologies/React/index.astro";
import Bun from "../../../Components/Projects/Technologies/Bun/index.astro";
import Elysia from "../../../Components/Projects/Technologies/Elysia/index.astro";
import style from "./style.module.css";
---

<Layout>
  <Header />
  <div class={style.divGeneral}>
    <div class={style.divLeft}>
      <WithPage
        title="Notte"
        text="es una aplicación web sencilla e intuitiva para tomar, organizar y acceder a tus notas desde cualquier lugar. Pensada para quienes necesitan capturar ideas rápidamente, mantener apuntes ordenados o registrar información importante. Ofrece una experiencia fluida con funciones como creación, edición y eliminación de notas."
        link="https://github.com/devkaleth/notte"
      />
      <div>
        <div class={style.divTitleTechnologies}>
          <h2 class={style.titleTechnologies}>Tecnologies</h2>
        </div>
        <div class={style.secctionTechnologies}>
          <Css />
          <Html />
          <Javascript />
          <React />
          <AstroFrame />
          <Bun />
          <Elysia />
        </div>
      </div>
    </div>
    <div class={style.divRight}>
      <ImgDiv src="/Assets/notte-home.jpeg" />
      <SecondInformation />
    </div>
  </div>
</Layout>
