---
const { src, title, text, class: className } = Astro.props;
import style from "./style.module.css";
---

<div class={style.cardDiv}>
  <div class={style.imgDiv}>
    <img src={src} alt={title} class={style.img} />
  </div>
  <div class={style.mainDiv}>
    <div>
      <h3 class={style.titleCard}>{title}</h3>
      <p class={style.textCard}>{text}</p>
    </div>
    <div>
      <button class={style.buttonInfo}> Mas información </button>
    </div>
  </div>
</div>
