---
import Layout from "../../layouts/Layout.astro";
import Header from "../../Components/Header/index.astro";
import style from "./style.module.css";
import Html from "../../Components/Projects/Technologies/Html/index.astro";
import Css from "../../Components/Projects/Technologies/Css/index.astro";
import Javascript from "../../Components/Projects/Technologies/Javascript/index.astro";
import React from "../../Components/Projects/Technologies/React/index.astro";
import Node from "../../Components/Projects/Technologies/Node/index.astro";
import Express from "../../Components/Projects/Technologies/Express/index.astro";
import Mysql from "../../Components/Projects/Technologies/Mysql/index.astro";
// import { name } from = Astro.props;
---

<Layout>
  <Header />
  <div class={style.divGeneral}>
    <div class={style.divLeft}>
      <div class={style.divTitle}>
        <h1 class={style.title}>Time Tracker</h1>
      </div>
      <div class={style.divText}>
        <p class={style.text}>
          Esta app conecta con la API de Strava para ofrecer a ciclistas una
          visión más personalizada de su entrenamiento. Permite visualizar
          estadísticas clave, analizar el progreso a lo largo del tiempo y
          explorar rutas favoritas de forma clara e intuitiva. Está pensada para
          motivar, simplificar el seguimiento del rendimiento y ayudar a cada
          ciclista a entender mejor su evolución, sin depender del aspecto
          social de Strava.
        </p>
      </div>
      <div class={style.divButtons}>
        <button class={style.button}>Page</button>
        <button class={style.button}>Github</button>
      </div>
      <div>
        <div class={style.divTitleTechnologies}>
          <h2 class={style.titleTechnologies}>Tecnologies</h2>
        </div>
        <div class={style.secctionTechnologies}>
          <Css />
          <Html />
          <Javascript />
          <React />
          <Node />
          <Express />
          <Mysql />
        </div>
      </div>
    </div>
    <div class={style.divRight}>
      <div class={style.divImg}>
        <img
          src="/Assets/Time-Track.png"
          alt="Time track img"
          class={style.img}
        />
      </div>
      <div class={style.divSegundario}>
        <h3 class={style.titleSubSecction}>Funcionalidades</h3>
        <p class={style.textSegundary}>-Registro de usuarios en local</p>
        <p class={style.textSegundary}>-Validacion de usauarios en local</p>
        <p class={style.textSegundary}>-Integracion con api de strava</p>
        <p class={style.textSegundary}>-Basboard personalizado</p>
        <p class={style.textSegundary}>-Análisis de rendimiento</p>
        <p class={style.textSegundary}>-Comparación por periodos</p>
      </div>
      <!-- <div>
        <h1 style="color: aliceblue;">Estado: En progreso</h1>
      </div> -->
    </div>
  </div>
</Layout>
