---
import style from "./style.module.css";
const { title, text, link } = Astro.props
---

<div class={style.divGeneral}>
  <div class={style.divTitle}>
    <h1 class={style.title}>{title}</h1>
  </div>
  <div class={style.divText}>
    <p class={style.text}>
        {text}
    </p>
  </div>
  <div class={style.divButtons}>
    <button class={style.button} onclick={`location.href='${link}'`}>Page</button>
    <button class={style.button}>Github</button>
  </div>
  <head></head>
</div>
