---
import style from "./style.module.css";
---
<div class={style.secondInformation}>
  <h3 class={style.titleSubSecction}>Funcionalidades</h3>
  <p class={style.textSegundary}>-Registro de usuarios en local</p>
  <p class={style.textSegundary}>-Validacion de usauarios en local</p>
  <p class={style.textSegundary}>-Integracion con api de strava</p>
  <p class={style.textSegundary}>-Basboard personalizado</p>
  <p class={style.textSegundary}>-Análisis de rendimiento</p>
  <p class={style.textSegundary}>-Comparación por periodos</p>
</div>
