---
import Layout from "../../layouts/Layout.astro";
import Header from "../../Components/Header/index.astro";
import style from "./style.module.css";

const width = 20;
const height = 20;
---

<Layout>
  <Header />
  <div class={style.divGeneral}>
    <div class={style.titleDiv}>
      <h1 class={style.title}>Contactame!</h1>
    </div>
    <main class={style.main}>
      <div class={style.myRedesDiv}>
        <div class={style.divGif}>
          <img src="https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3czkzcWg4NjJkdzE5cTU2czdpdDQyMWsyZHJhdjk0OGYyeXNtMzJjYSZlcD12MV9zdGlja2Vyc19yZWxhdGVkJmN0PXM/pFZpzX91Zs19JROUu0/giphy.gif" alt=""> 
        </div>
        <div class={style.divItems}>
          <div class={style.redDiv}>
            <svg
              class={style.svgRed}
              xmlns="http://www.w3.org/2000/svg"
              width={width}
              height={height}
              viewBox="0 0 128 128"
              ><path
                fill="#0076b2"
                d="M116 3H12a8.91 8.91 0 0 0-9 8.8v104.42a8.91 8.91 0 0 0 9 8.78h104a8.93 8.93 0 0 0 9-8.81V11.77A8.93 8.93 0 0 0 116 3"
              ></path><path
                fill="#000"
                d="M21.06 48.73h18.11V107H21.06zm9.06-29a10.5 10.5 0 1 1-10.5 10.49a10.5 10.5 0 0 1 10.5-10.49m20.41 29h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75v32H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87 7.36-10.87 15V107H50.53z"
              ></path></svg
            >
            <a href="www.linkedin.com/in/diego-gongora-p" class={style.textRed}
              >diego-gongora</a
            >
          </div>
          <div class={style.redDiv}>
            <svg
              class={style.svgRed}
              xmlns="http://www.w3.org/2000/svg"
              width={width}
              height={height}
              viewBox="0 0 20 20"
              ><path
                fill="currentColor"
                d="M20 10.25q0 3.351-1.908 6.027t-4.928 3.703q-.352.068-.514-.093a.54.54 0 0 1-.163-.4V16.67q0-1.295-.677-1.895a9 9 0 0 0 1.335-.24q.591-.16 1.223-.52a3.7 3.7 0 0 0 1.055-.888q.423-.528.69-1.402t.267-2.008q0-1.616-1.028-2.75q.48-1.214-.105-2.723q-.364-.12-1.054.147a7 7 0 0 0-1.198.587l-.495.32a9 9 0 0 0-2.5-.346a9 9 0 0 0-2.5.347a12 12 0 0 0-.553-.36q-.345-.214-1.088-.514q-.741-.3-1.12-.18q-.572 1.507-.09 2.722q-1.03 1.134-1.03 2.75q0 1.134.268 2.002q.267.867.683 1.401a3.5 3.5 0 0 0 1.048.894q.632.36 1.224.52q.593.162 1.335.241q-.52.48-.638 1.375a2.5 2.5 0 0 1-.586.2a3.6 3.6 0 0 1-.742.067q-.43 0-.853-.287q-.423-.288-.723-.834a2.1 2.1 0 0 0-.631-.694q-.384-.267-.645-.32l-.26-.04q-.273 0-.378.06t-.065.153a.7.7 0 0 0 .117.187a1 1 0 0 0 .17.16l.09.066q.287.135.567.508q.28.374.41.68l.13.307q.17.507.574.821q.404.315.872.4q.468.087.905.094q.436.006.723-.047l.299-.053q0 .507.007 1.188l.006.72q0 .24-.17.4q-.168.162-.52.094q-3.021-1.028-4.928-3.703Q0 13.6 0 10.25q0-2.79 1.341-5.145a10.1 10.1 0 0 1 3.64-3.73A9.6 9.6 0 0 1 10 0a9.6 9.6 0 0 1 5.02 1.375a10.1 10.1 0 0 1 3.639 3.73Q20 7.461 20 10.25"
              ></path></svg
            >
            <a href="https://github.com/DiegoGp227" class={style.textRed}
              >DiegoGp227</a
            >
          </div>
          <div class={style.redDiv}>
            <svg
              class={style.svgRed}
              xmlns="http://www.w3.org/2000/svg"
              width={width}
              height={height}
              viewBox="0 0 256 256"
              ><g fill="none"
                ><rect width="256" height="256" fill="#242938" rx="60"
                ></rect><path
                  fill="#4285f4"
                  d="M41.636 203.028h31.818v-77.273L28 91.665v97.727c0 7.545 6.114 13.636 13.636 13.636"
                ></path><path
                  fill="#34a853"
                  d="M182.545 203.028h31.819c7.545 0 13.636-6.113 13.636-13.636V91.665l-45.455 34.09"
                ></path><path
                  fill="#fbbc04"
                  d="M182.545 66.664v59.091L228 91.665V73.481c0-16.863-19.25-26.477-32.727-16.363"
                ></path><path
                  fill="#ea4335"
                  d="M73.455 125.755v-59.09L128 107.574l54.545-40.91v59.091L128 166.665"
                ></path><path
                  fill="#c5221f"
                  d="M28 73.483v18.181l45.454 34.091v-59.09l-12.727-9.546C47.227 47.005 28 56.619 28 73.483"
                ></path></g
              ></svg
            >
            <a
              href="https://mail.google.com/mail/?view=cm&fs=1&to=diego.gp227@gmail.com"
              class={style.textRed}>diego.gp227@gmail.com</a
            >
          </div>
        </div>
      </div>

      <div class={style.formDiv}>
        <form action="" class={style.form}>
          <label for="" class={style.labelForm}>Nombre</label>
          <input type="text" class={`${style.inputForm} ${style.inputOne}`} autofocus />
          <label for="" class={style.labelForm}>Asunto</label>
          <input type="email" class={`${style.inputForm} ${style.inputTwo}`} />
          <label for="Text" class={style.labelForm}>Texto</label>
          <textarea name="Text" class={`${style.inputForm} ${style.inputTree}`}
          ></textarea>
          <button class={style.button}>Enviar!

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none"><path d="m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"/><path fill="blueviolet" d="M20.235 5.686c.432-1.195-.726-2.353-1.921-1.92L3.709 9.048c-1.199.434-1.344 2.07-.241 2.709l4.662 2.699l4.163-4.163a1 1 0 0 1 1.414 1.414L9.544 15.87l2.7 4.662c.638 1.103 2.274.957 2.708-.241z"/></g></svg>
          </button>
        </form>
      </div>
    </main>
  </div>
</Layout>
