---
import style from "./style.module.css";
---

<div class={style.div}>
  <a href="https://es.react.dev/" class={style.a}>React</a>
  <a href="https://www.typescriptlang.org/" class={style.a}>Typescrip</a>
  <a href="https://astro.build/" class={style.a}>Astro</a>
  <a href="https://development-lkp2486.slack.com/team/U08QLGW4HNC" class={style.a}>Slack</a>
  <a href="https://github.com/DiegoGp227" class={style.a}>GitHub</a>
</div>
