---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../Components/Header/index.astro";
import WithPage from "../../../Components/Projects/MainInformation/WithPage/index.astro";
import SecondInformation from "../../../Components/Projects/SecondInformation/index.astro";
import ImgDiv from "../../../Components/Projects/ImgDiv/index.astro";
import Html from "../../../Components/Projects/Technologies/Html/index.astro";
import Css from "../../../Components/Projects/Technologies/Css/index.astro";
import Javascript from "../../../Components/Projects/Technologies/Javascript/index.astro";
import React from "../../../Components/Projects/Technologies/React/index.astro";
import Node from "../../../Components/Projects/Technologies/Node/index.astro";
import Express from "../../../Components/Projects/Technologies/Express/index.astro";
import Mysql from "../../../Components/Projects/Technologies/Mysql/index.astro";
import style from "./style.module.css";
---

<Layout>
  <Header />
  <div class={style.divGeneral}>
    <div class={style.divLeft}>
      <WithPage
        title="Taskly"
        text="Taskly es una aplicación web que te ayuda a organizar tus tareas agrupándolas por temas. Cada tema tiene su propia vista, permitiéndote separar claramente distintas áreas y concentrarte solo en lo relevante en cada momento. Con una interfaz simple y enfoque estructurado, Taskly te ofrece orden, claridad y control sobre tus pendientes."
        link="https://github.com/DiegoGp227/taskly"
      />
      <div>
        <div class={style.divTitleTechnologies}>
          <h2 class={style.titleTechnologies}>Tecnologies</h2>
        </div>
        <div class={style.secctionTechnologies}>
          <Css />
          <Html />
          <Javascript />
          <React />
          <Node />
          <Express />
          <Mysql />
        </div>
      </div>
    </div>
    <div class={style.divRight}>
      <ImgDiv src="/Assets/taskly.png" />
      <SecondInformation />
    </div>
  </div>
</Layout>