---
import NameDiv from "./NameDiv/index.astro";
import Nav from "./Nav/index.astro";
import style from "./style.module.css";
---

<header class={style.header}>
  <NameDiv/>
  <button class={style.menuToggle} id="menuToggle">
    <span class={style.hamburger}></span>
    <span class={style.hamburger}></span>
    <span class={style.hamburger}></span>
  </button>
  <Nav />
</header>