---
import style from "./style.module.css";
---

<nav>
  <ul class={style.ul}>
    <li class={style.li}><a href="/" class={style.a}>Inicio</a></li>
    <li class={style.li}><a href="/AboutMe" class={style.a}>Sobre Mí</a></li>
    <li class={style.li}><a href="/Experience" class={style.a}>Proyectos</a></li>
    <li class={style.li}><a href="/Contact" class={style.a}>Contactame</a></li>
  </ul>
</nav>
